##Goal:  Train a Naive Bayes model to classify future SMS messages as either spam or ham.

Steps:

1.  Convert the words ham and spam to a binary indicator variable(0/1)

2.  Convert the txt to a sparse matrix of TFIDF vectors

3.  Fit a Naive Bayes Classifier

4.  Measure your success using roc_auc_score

In [1]:
import pandas as pd
import nltk
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.cross_validation import train_test_split
from sklearn import naive_bayes
from sklearn.metrics import roc_auc_score

In [2]:
df= pd.read_csv("SMSSpamCollection",sep='\t', names=['spam', 'txt'])

In [3]:
df.head()

   spam                                                txt
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [4]:
pd.get_dummies(df.spam)

      ham  spam
0       1     0
1       1     0
2       0     1
3       1     0
4       1     0
5       0     1
6       1     0
7       1     0
8       0     1
9       0     1
10      1     0
11      0     1
12      0     1
13      1     0
14      1     0
15      0     1
16      1     0
17      1     0
18      1     0
19      0     1
20      1     0
21      1     0
22      1     0
23      1     0
24      1     0
25      1     0
26      1     0
27      1     0
28      1     0
29      1     0
...   ...   ...
5542    1     0
5543    1     0
5544    1     0
5545    1     0
5546    1     0
5547    0     1
5548    1     0
5549    1     0
5550    1     0
5551    1     0
5552    1     0
5553    1     0
5554    1     0
5555    1     0
5556    1     0
5557    1     0
5558    1     0
5559    1     0
5560    1     0
5561    1     0
5562    1     0
5563    1     0
5564    1     0
5565    1     0
5566    0     1
5567    0     1
5568    1     0
5569    1     0
5570    1     0
5571    1     0

[5572 rows x 2 columns]

In [5]:
df['spam'] = pd.get_dummies(df.spam)['spam']

In [6]:
df.head()

   spam                                                txt
0     0  Go until jurong point, crazy.. Available only ...
1     0                      Ok lar... Joking wif u oni...
2     1  Free entry in 2 a wkly comp to win FA Cup fina...
3     0  U dun say so early hor... U c already then say...
4     0  Nah I don't think he goes to usf, he lives aro...

In [7]:
stopset = set(stopwords.words('english'))
vectorizer = TfidfVectorizer(use_idf=True, lowercase=True, strip_accents='ascii', stop_words=stopset)

In [8]:
# spam of 1 = spam, spam of 0 = ham
y = df.spam

In [9]:
X= vectorizer.fit_transform(df.txt)

In [10]:
print y.shape
print X.shape

(5572L,)
(5572, 8605)

In [11]:
X_train, X_test,y_train, y_test = train_test_split(X, y, random_state=42)

In [12]:
clf = naive_bayes.MultinomialNB()
clf.fit(X_train, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [13]:
roc_auc_score(y_test, clf.predict_proba(X_test)[:,1])

0.98558587451336732

In [14]:
import numpy as np
spam_test_array=np.array(["You are a winner. Sexy singles in your area is your prize. Capitalize now!"])
spam_test_vector = vectorizer.transform(spam_test_array)
print clf.predict(spam_test_vector)

[ 1.]